.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-beside {
  display: flex;
  justify-content: space-between;
}

.flex-level-center {
  display: flex;
  align-items: center;
}